* {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #F5F5F5;
}


@media all and (max-width: 1000px) {

	#home-divLeftMenu {
		transform: translateX(-100%);
	}

	#home-divUsuarioLogado {
		transform: translateX(114px);
	}

	#home-pNomeUsuarioSessao {
		opacity: 0;
	}
	
}

@media all and (max-width: 600px){
	
}

@media all and (min-width: 1000px) {

	#home-divBtnMenu {
		opacity: 0;
		visibility: hidden;
	}

}

@media all and (min-width: 600px){

	
}

#home-divTopBar {
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to bottom, #EAEAEA, #A9A9A9);
	position: fixed;
	z-index: 10;
}

#home-divBtnMenu {
	display: inline-block;
	height: 30px;
	position: fixed;
	top: 12px;
	left: 5px;
	cursor: pointer;
	transition: all 0.6s ease;

}

#home-imgBtnMenu {
	height: 25px;
}

#home-imgLogoCentro {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 50px;
}

#home-divUsuarioLogado {
	cursor: pointer;
	position: fixed;
	height: 39px;
	width: 150px;
	background-color: white;
	right: 0;
	top: 5px;
	font-size: 30px;
	box-sizing: border-box;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2),0 0px 20px 0 rgba(0, 0, 0, 0.19);
	transition: transform 0.6s ease;
}

#home-pNomeUsuarioSessao {
	max-width: 100px;
	font-family: "Open Sans";
	text-align: center;
	color: #000000fa;
	transition: all 0.6s ease;
}

#home-imgUsuarioSessao {
	height: 36px;
	width: 36px;
	object-fit: cover;
	max-width: 50px;
	position: fixed;
	right: 0;
	top: 5px;
	border: 2px solid black;
	border-radius: 360px;
	background-color: white;
	cursor: pointer;
}

#home-divLeftMenu {
	width: 200px;
	height: calc(100vh - 50px);
	background-color: white;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 3;
	transition: transform 0.6s ease;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-divLeftMenu ul {
	list-style-type: none;
}


#home-divLeftMenu ul li {
	border-bottom: 1px solid rgb(27, 27, 27);
	text-align: justify;
	padding: 15px 5px;
	cursor: pointer;
}

#home-divLeftMenu ul li a {
	text-decoration: none;
	font-size: 14px;
	font-family: "Roboto";
	font-weight: bold;
	color: rgb(27, 27, 27);
}

#home-divLeftMenu ul li:last-child {
	border-bottom: none;
}

#home-divLeftMenu ul li a:hover {
	color: rgb(82, 82, 82);
}

#home-divLeftMenu.ativo {
	transform: translateX(0);
}

#home-divUserMenu {
	width: 150px;
	height: 100px;
	background-color: white;
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 5;
	transition: transform 0.6s ease;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2),	0 0px 20px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-110%);
}

#home-divUserMenu ul {
	list-style-type: none;
}

#home-divUserMenu ul li {
	border-bottom: 1px solid rgb(27, 27, 27);
	text-align: justify;
	padding: 15px 5px;
	cursor: pointer;
	text-align: center;
}

#home-divUserMenu ul li a {
	text-decoration: none;
	font-size: 14px;
	font-family: "Roboto";
	font-weight: bold;
	color: rgb(27, 27, 27);
}

#home-divUserMenu ul li a:hover {
	color: rgb(82, 82, 82);
}

#home-divUserMenu ul li:last-child {
	border-bottom: none;
}

#home-divUserMenu.ativo {
	transform: translateY(0);
}

.home-divIconeMenu{
	width: 25px;
	float: right;
}

.home-divIconeMenu img {
	width: 25px;
}

#home-divAreaConteudo {
	width: 100%;
	height: calc(100vh - 40px);
	position: fixed;
	top: 50px;
	background-color: #F5F5F5;
	overflow: auto;
}