@media all and (min-width: 1000px) {
    #venda-divTelaVendas,
    .venda-divCoberturaVenda {
        left: 200px;
        right: 0;
        width: 80%;
    }
    .venda-divSelecionaCliente, .venda-divSelecionaProduto {
        width: 60%;
        left: 200px;
        right: 0;
    }
}

@media all and (max-width: 1000px) {
    #venda-divTelaVendas,
    .venda-divCoberturaVenda {
        left: 0;
        right: 0;
        width: calc(100% - 30px);
    }
    .venda-divSelecionaCliente, .venda-divSelecionaProduto {
        width: 80%;
        left: 0;
        right: 0;
    }
}

@media all and (min-width: 550px) {
    .detalhaVenda-divNomeCliente {
        max-width: 600px;
        float: left;
    }
    .detalhaVenda-divImgTrocaCliente {
        float: left;
    }
}


@media all and (max-width: 550px) {
    .detalhaVenda-divNomeCliente {
        max-width: 100px;
        display: inline-block;
        margin: 0 auto;
    }

    .detalhaVenda-imgTrocaCliente {
        display: inline-block;
    }
}

.venda-divCoberturaVenda {
    position: fixed;
    margin: 30px auto;
    height: calc(100vh - 100px);
    transition: all 0.6s ease;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: inherit;
}

.venda-divCoberturaVenda.visivel {
    background-color: rgba(255, 255, 255, 0);
    visibility: hidden;
}

.venda-divSelecionaCliente, .venda-divSelecionaProduto {
    height: calc(100vh - 150px);
    position: fixed;
    top: 100px;
    margin: 0 auto;
    background-color: white;
    z-index: 4;
    overflow: auto;
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
}

.venda-divSelecionaCliente.visivel, .venda-divSelecionaProduto.visivel {
    opacity: 1;
    visibility: inherit;
}

.venda-divSelecionaCliente label, .venda-divSelecionaProduto label {
    font-family: "Roboto";
    background-color: rgb(180, 180, 180);
    color: white;
    font-size: 25px;
    display: block;
    width: 100%;
    text-align: center;
}


.venda-txtBuscaCliente, .venda-txtBuscaProduto {
    margin: 10px auto;
    display: block;
    width: 90%;
    height: 30px;
    font-size: 25px;
}

.venda-tableSelClientes, .venda-tableSelProdutos {
    width: 100%;
    border-collapse: collapse;
}

.venda-tableSelClientes thead, .venda-tableSelProdutos thead {
    background-color: rgb(86, 223, 86);
}

.venda-tableSelClientes thead th, .venda-tableSelProdutos thead th {
    height: 30px;
    color: white;
    font-family: 'Roboto';
}

.venda-tableSelClientes tbody tr, .venda-tableSelProdutos tbody tr {
    height: 35px;
    text-align: center;
    cursor: pointer;
    color: #000000fa;
    font-family: "Open Sans";
}

.venda-tableSelClientes tbody tr:hover, .venda-tableSelProdutos tbody tr:hover {
    color: #424242fa;
}

.venda-tableSelClientes tr:nth-child(even), .venda-tableSelProdutos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#venda-divTelaVendas {
    position: fixed;
    margin: 30px auto;
    background-color: rgba(250, 250, 250, 1);
    height: calc(100vh - 100px);
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.6s ease;
    z-index: 2;
}

.venda-divAbasVenda {
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    font-size: 0;
}

.venda-divConteudoAba::-webkit-scrollbar .venda-tableSelClientes::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

.venda-divConteudoAba::-webkit-scrollbar-thumb .venda-tableSelClientes::-webkit-scrollbar-thumb {
    background: #515151;
}

.venda-btnBotaoAba {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    box-sizing: border-box;
    transition: 0.3s;
    border-right: 1px solid #ccc;
}

.venda-btnBotaoAba:last-child {
    border-left: none;
}

.venda-btnBotaoAba:hover {
    background-color: #ddd;
}

.venda-btnBotaoAba.active {
    background-color: #ccc;
}

.venda-divConteudoAba {
    width: 100%;
    height: calc(100vh - 145px);
    transition: 0.3s;
}

.detalhaVenda-divInterfaceVenda {
    height: calc(100vh - 145px);
    transition: 0.3s;
}

.detalhaVenda-divCabecalhoVenda {
    background-color: #f1f1f1;
    height: 35px;
    box-sizing: border-box;
    padding: 10px 10px;
    white-space: nowrap;

}

.detalhaVenda-divNomeCliente {
    white-space: nowrap;
}

.detalhaVenda-divImgTrocaCliente {
    margin-left: 10px;
    cursor: pointer;
}

.detalhaVenda-imgTrocaCliente {
    width: 20px;
    height: 20px;
}

.detalhaVenda-divNivelPreco {
    float: right;
}

.detalhaVenda-divNomeCliente, .detalhaVenda-divNivelPreco {
    font-family: "Roboto";
}

.detalhaVenda-divCarrinho {
    width: 100%;
}

.detalhaVenda-tableCarrinho {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.detalhaVenda-tableCarrinho thead {
    background-color: rgb(86, 223, 86);
    color: white;
}

.detalhaVenda-tableCarrinho thead tr th {
    font-size: 20px;
    height: 30px;
    font-family: "Amiri";
}

.detalhaVenda-divCarrinho tbody tr{
    background-color: #e7e7e7;
}

.detalhaVenda-tableCarrinho tbody tr {
    height: 30px;
    font-family: "Roboto";
}
.detalhaVenda-tableCarrinho tbody tr:nth-child(even){
    background-color: #cecece;
}

.detalhaVenda-divVendaTotal {
    float: right;
    background-color: #edf158;
    height: 50px;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    box-sizing: border-box;
    margin: 15px 10px 0 0;
    font-family: "Open Sans";
}

.detalhaVenda-divBotoesVenda {
    text-align: center;
    margin: 15px 0 0 0;
}

.detalhaVenda-botaoAddProduto {

}

.detalhaVenda-botaoAddProduto:hover {
    color: #6e6e6e;
    cursor: pointer;
}

.detalhaVenda-btnCancelarVenda {

}

.detalhaVenda-btnFechaVenda {

}