#menuFiltros {
	width: 200px;
	height: 100%;
	background-color: white;
	position: fixed;
	height: calc(100vh - 140px);
	overflow: auto;
}

#menuFiltros::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: transparent;
}

#menuFiltros::-webkit-scrollbar-thumb{
	background: #515151;
}

#produtosLista {
	width: calc(100% - 200px);
	margin-left: 200px;
	overflow: auto;
	display: flex;
  	display: -webkit-flex; /* Safari 8 */
  	flex-wrap: wrap;
  	-webkit-flex-wrap: wrap;         /* Safari 8 */
  	justify-content: center;
	-webkit-justify-content: center;       /* Safari 8 */
	float: left;  
}

.produtoLista {
	box-sizing: border-box; 
	cursor: pointer;
	height: 300px;
	width: 200px;
	display:inline-block;
	margin: 3px;
	text-align: center;
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgProdutoLista {
	height: 150px;
	width: 150px;
	display: inline;
	margin-top: 10px;
}

.nomeProdutoLista {
	width: 100%;
	height: 30px;
	font-size:17px;
	font-family: Amiri;
	line-height: 18px;
	color: #252525;
}

.avaliacoesProdutoLista {
	box-sizing: border-box; 
	width: 100%;
	height: 20px;
	padding: 3px;
	text-align: center;
	margin: 10px 0;
}

.avaliacoesProdutoLista img {
	width: 18px;
	margin: 0;
}

.valoresProdutoLista {
	width: 100%;
	margin-top: 10px;
	color: #252525;
}

.valorTotalProdutoLista {
	font-size: 35px;
	font-family: 'Passion One';
	color: #252525;
}

.financiamentoProdutoLista {
	font-size: 15px;
	font-family: Amiri;
	text-decoration: underline;
	color: #252525;
}

.treeMenu {
	margin:1em;
}

.treeMenu ul {
	list-style-type: none;
}

.treeMenu input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
  
.treeMenu input ~ ul { 
	display: none; 
}

.treeMenu input:checked ~ ul { 
	display: block; 
}

.treeMenu li {
	line-height: 1.2;
	position: relative;
	padding: 0 0 1em 1em;
}

.treeMenu ul li { 
	padding: 1em 0 0 1em;
}

.treeMenu > li:last-child { 
	padding-bottom: 0; 
}

.treeMenu_label {
	position: relative;
	display: inline-block;
	background: #fff;
}

label.treeMenu_label { 
	cursor: pointer; 
}

#menuFiltros span a {
	text-decoration: none;
	color: #000
}

label.treeMenu_label:hover, #menuFiltros span a:hover { 
	text-decoration: underline;
}

label.treeMenu_label:before {
	background: #000;
	color: #fff;
	position: relative;
	z-index: 1;
	float: left;
	margin: 0 1em 0 -2em;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	content: '+';
	text-align: center;
	line-height: .9em;
}

:checked ~ label.treeMenu_label:before { 
	content: '–'; 
}

.treeMenu li:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -.5em;
	display: block;
	width: 0;
	border-left: 1px solid #777;
	content: "";
}

.treeMenu_label:after {
	position: absolute;
	top: 0;
	left: -1.5em;
	display: block;
	height: 0.5em;
	width: 1em;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	border-radius: 0 0 0 .3em;
	content: '';
}

label.treeMenu_label:after { 
	border-bottom: 0;
}

:checked ~ label.treeMenu_label:after {
	border-radius: 0 .3em 0 0;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 0;
	border-left: 0;
	bottom: 0;
	top: 0.5em;
	height: auto;
}

.treeMenu li:last-child:before {
	height: 1em;
	bottom: auto;
}

.treeMenu > li:last-child:before { 
	display: none; 
}

.treeMenu_custom {
	display: block;
	background: #eee;
	padding: 1em;
	border-radius: 0.3em;
}